backend/node_modules
frontend/node_modules
.env
backend/firebase-service-account-key.json
backend/firebaserc
backend/firebase.js
backend/firebase.json
backend/firestore.rules
backend/firestore.indexes.json